<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Admin - Qoqo Archive</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body { background-color: #f8f9fa; }
        .admin-cover-img { width: 60px; height: 80px; object-fit: cover; border-radius: 4px; }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm mb-5">
        <div class="container">
            <a href="dashboard-404-qoqo.html" class="navbar-brand fw-nold">Dashboard Admin</a>
            <div class="d-flex gap-2">
                <a href="form-book-402-qoqo.html" class="btn btn-outline-light btn-sm">+ Tambah Buku Baru</a>
                <a href="form-projects-401-qoqo.html" class="btn btn-outline-light btn-sm">+ Tambah Proye Baru</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-10">
                <h3 class="fw-bold mb-4 text-secondary">Daftar Rangkuman Buku</h3>

                <div id="admin-project-list" class="d-flex flex-column gap-3">

                </div>
            </div>

            <div class="col-md-10">
                <h3 class="fw-bold mb-4 text-secondary">Daftar Rangkuman Buku</h3>

                <div id="admin-book-list" class="d-flex flex-column gap-3">

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="../controller/security-check.js"></script>
    <script type="module" src="../controller/dashboard.js"></script>
</body>
</html>